.container {
  max-width: 970px;
  margin: 0 auto;
}

nav {
  height: 80px;
}

.nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

.header {
  padding: 3rem 0;
  background: #495e57;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper .left {
  width: 50%;
}

/* .header-wrapper .left .title {
} */

.header-wrapper .right {
  width: 50%;
  text-align: center;
}

.header-wrapper .right img {
  width: 60%;
  border-radius: 16px;
}
